In [2]:
#importing packages & libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [81]:
# Assign the filename: oecd_usd_priv_pens (Total assets in funded and private pension plans, in USD million, 2001-2021)
oecd_usd_priv_pens = "/Users/andrewquinn/Analytics Project/Pension-Markets-in-Focus-2022-Statistical-Annex/Table A.B.2 Total assets in funded and private pension plans, in USD million, 2001-2021-Table 1.csv"
# Read the file into a DataFrame: df
df = pd.read_csv(oecd_usd_priv_pens)
# View the head of the DataFrame
print(df.head())
print(df.shape)

  OECD countries     2001     2002     2003       2004       2005       2006  \
0      Australia  263,408  292,623  358,915    442,936    583,888    678,162
1    Austria (1)    5,585    8,749   11,795     14,125     13,833     16,783
2    Belgium (2)   12,572   13,829   13,585     15,737     80,257     93,596
3     Canada (3)  741,658  721,408  974,754  1,176,362  1,372,019  1,535,715
4          Chile   35,385   35,826   49,224     60,535     74,508     88,293

        2007       2008       2009  ...       2015       2016       2017  \
0  1,014,341  1,095,339    867,429  ...  1,517,613  1,532,849  1,838,865
1     19,359     17,460     20,259  ...     22,393     21,980     26,772
2    114,350    107,602    120,155  ...    132,722    138,317    190,735
3  1,951,002  1,391,903  1,711,494  ...  2,225,732  2,378,020  2,721,976
4    111,277     74,313    118,052  ...    154,711    174,480    210,512

        2018       2019       2020       2021 Unnamed: 22 Unnamed: 23  \
0  1,858,710  1,825,932  1,797,259  2,291,929                     NaN
1     24,533     27,294     30,634     30,550                     NaN
2    180,379    187,122    223,702         ..                     NaN
3  2,524,309  2,814,497  3,081,679  3,218,436                     NaN
4    193,110    215,373    208,482    167,556                     NaN

  Unnamed: 24
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 25 columns]
(100, 25)

In [82]:
# Identify a list of columns to delete
columns_to_delete = df.columns[1:21]  

# Delete this list using .drop
df = df.drop(columns=columns_to_delete)  # Drop the specified columns

# Check if list of columns have been removed
print(df.head())
print(df.shape)

  OECD countries       2021 Unnamed: 22  Unnamed: 23  Unnamed: 24
0      Australia  2,291,929                      NaN          NaN
1    Austria (1)     30,550                      NaN          NaN
2    Belgium (2)         ..                      NaN          NaN
3     Canada (3)  3,218,436                      NaN          NaN
4          Chile    167,556                      NaN          NaN
(100, 5)

In [83]:
# Remove the last three columns
df = df.iloc[:, :-3]  

# Check if last 3 columns have been removed
print(df.head())
print(df.shape)

  OECD countries       2021
0      Australia  2,291,929
1    Austria (1)     30,550
2    Belgium (2)         ..
3     Canada (3)  3,218,436
4          Chile    167,556
(100, 2)

In [84]:
print(df.tail(6))

                                       OECD countries        2021
94                                      Zimbabwe (32)       2,935
95                           Regional indicators (33)         NaN
96                                         Total OECD  58,893,043
97                            Total selected non-OECD   1,733,646
98                                                NaN         NaN
99  Note: The total amount of investments of funde...         NaN

In [85]:
# Remove the last five rows
df = df.iloc[:-5, :]  

# Check if last 3 columns have been removed
print(df.tail(6))
print(df.shape)

         OECD countries    2021
89  Trinidad and Tobago      ..
90               Uganda   5,460
91              Ukraine      ..
92              Uruguay  17,351
93               Zambia     745
94        Zimbabwe (32)   2,935
(95, 2)

In [88]:
#Remove nil values and check result
df=df.dropna()
print(df)

   OECD countries       2021
0       Australia  2,291,929
1     Austria (1)     30,550
2     Belgium (2)         ..
3      Canada (3)  3,218,436
4           Chile    167,556
..            ...        ...
90         Uganda      5,460
91        Ukraine         ..
92        Uruguay     17,351
93         Zambia        745
94  Zimbabwe (32)      2,935

[94 rows x 2 columns]

In [91]:
#".." in the dataframe is not a missing value, delete this field using boolean indexing instead
df = df[~df.eq('..').any(axis=1)]
print(df)

   OECD countries       2021
0       Australia  2,291,929
1     Austria (1)     30,550
3      Canada (3)  3,218,436
4           Chile    167,556
5        Colombia     91,806
..            ...        ...
88       Thailand     40,366
90         Uganda      5,460
92        Uruguay     17,351
93         Zambia        745
94  Zimbabwe (32)      2,935

[79 rows x 2 columns]

In [98]:
#Repeat above steps for new dataframe df1 (Total assets in funded and private pension plans, as a % of GDP, 2001-2021)
oecd_gdp_priv_pens = "/Users/andrewquinn/Analytics Project/Pension-Markets-in-Focus-2022-Statistical-Annex/Total assets in funded and private pension plans, as a % of GDP, 2001-2021-Table 1_modified.csv"
df1 = pd.read_csv(oecd_gdp_priv_pens)
columns_to_delete = df1.columns[1:21]  
df1 = df1.drop(columns=columns_to_delete)  
df1 = df1.iloc[:, :-3]
df1 = df1.iloc[:-5, :] 
df1=df1.dropna()
df1 = df1[~df1.eq('..').any(axis=1)]
print(df1)

         Countries   2021
0        Australia  147.4
1      Austria (1)    6.7
3       Canada (3)  166.1
4            Chile   60.3
5         Colombia   31.2
..             ...    ...
83          Serbia    0.8
84  Singapore (30)   93.8
86        Suriname   12.1
88        Thailand    8.3
90          Uganda   12.8

[74 rows x 2 columns]

In [110]:
#Merge the two dataframes "merged_df"
merged_df = pd.merge(df1, df, left_on='Countries', right_on='OECD countries', how='inner', suffixes =(' $Mil', ' %GDP'))
merged_df = merged_df.drop('OECD countries', axis=1)
print(merged_df)

         Countries 2021 $Mil  2021 %GDP
0        Australia     147.4  2,291,929
1      Austria (1)       6.7     30,550
2       Canada (3)     166.1  3,218,436
3            Chile      60.3    167,556
4         Colombia      31.2     91,806
..             ...       ...        ...
69          Serbia       0.8        473
70  Singapore (30)      93.8    370,054
71        Suriname      12.1        324
72        Thailand       8.3     40,366
73          Uganda      12.8      5,460

[74 rows x 3 columns]